APP_NAME = "ELARA"

FILE_ALLOWED_TYPES = ["text/plain", "application/pdf",".docx"]
FILE_MAX_SIZE_MB = 50
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512 KB

VECTOR_DB_NAME="ELARA"
QDRANT_API_KEY=""
QDRANT_URL="localhost:6333"

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.bvpgugf.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME="ai_projects"
COLLECTION_NAME="ELARA"

        
GROQ_API_KEY=""
GENERATION_MODEL_ID="openai/gpt-oss-120b"
EMBEDDING_MODEL_ID="BAAI/bge-m3" # High-performance, multilingual, and supports hybrid retrieval.
EMBEDDING_MODEL_SIZE=1024
GENERATION_BACKEND="GROQ"
EMBEDDING_BACKEND="BGE"


INPUT_DEFAULT_MAX_CHARACTERS=6000
GENERATION_DEFAULT_MAX_TOKENS=1000
GENERATION_DEFAULT_TEMPERATURE=0.1
TOKENIZER_MODEL_ID = "sentence-transformers/all-MiniLM-L6-v2"


