APP_NAME = "ELARA"

FILE_ALLOWED_TYPES = ["text/plain", "application/pdf","application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE_MB = 50
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512 KB

VECTOR_DB_NAME="ELARA"
QDRANT_API_KEY=""
QDRANT_URL=""
DENSE_VECTOR_NAME = "dense_vector"
SPARSE_VECTOR_NAME = "sparse_vector"

MONGODB_URI=""
MONGODB_DB_NAME="ai_projects"
COLLECTION_NAME="ELARA"

GROQ_API_KEY=""
GENERATION_MODEL_ID="openai/gpt-oss-120b"
EMBEDDING_MODEL_ID="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
EMBEDDING_MODEL_SIZE=384
GENERATION_BACKEND="GROQ"
EMBEDDING_BACKEND="BGE"
USE_SIMPLE_CHUNKER= True

INPUT_DEFAULT_MAX_CHARACTERS=384
GENERATION_DEFAULT_MAX_TOKENS=1000
GENERATION_DEFAULT_TEMPERATURE=0.1
TOKENIZER_MODEL_ID = "sentence-transformers/all-MiniLM-L6-v2"
